@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #ff7782;
  --secondary-color: #333;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
}

.container {
  position: relative;
  max-width: 999px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}

.container header::before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 8px;
  bottom: -2px;
  height: 3px;
  width: 147px;
  background-color: var(--primary-color);
}

.container form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
}

.container form .details {
  margin-top: 30px;
}

.container form .details-bank {
  margin-top: 10px;
}

.container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: var(--text-color);
}

.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 25px);
  flex-direction: column;
}

.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
}

.input-field select,
.input-field input {
  outline: none;
  border-radius: 5px;
  font-size: 13px;
  color: var(--text-color);
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.input-field select:is(:focus, :valid),
.input-field input:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.input-field input[type="date"] {
  color: #707070;
}

.input-field input[type="date"]:valid {
  color: var(--text-color);
}
.details button{
  margin-top: 2px;
  display: flex;
  font-size: small;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  height: 20px;
  max-width: 20px;
  width: 10%;
  border: none;
  outline: none;
}

.btn-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submitBtn{
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 5px;
  background-color: var(--primary-color);
}


/* CSS for tablets */
@media only screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    .container form .fields .input-field {
      width: calc(50% - 25px);
    }
  
    .container form button {
      margin-top: 40px;
    }
  }
  
  /* CSS for phones */
  @media only screen and (max-width: 480px) {
    .container {
      padding: 10px;
    }
  
    .container header::before {
      width: 100px;
    }
  
    .container form .fields .input-field {
      width: 100%;
    }
  
    .container form button {
      margin-top: 30px;
    }
  }