@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/*--------------------ROOT VARAIBLES------------------------- */
:root{
    --color-primary:#7380ec;
    --color-danger: #ee2e3e;
    --color-success: #41f1b6;
    --color-warning:#ffbb55;
    --color-white:#ffff;
    --color-info-dark:#7d8da1;
    --color-dark: #363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#737980;
    --color-background: #f5f5f5;

    --card-border-raduis:2rem;
    --border-radius-1:0.4rem;
    --border-raduis-2:0.8rem;
    --border-raduis-3:1.2rem;

    --card-padding: 1.8rem;
    --padding:1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color:var(--color-dark) ;

}


.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size:0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);   
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

aside{
    height: 100vh;

}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .logo img{
    margin-top: 1rem;
    margin-left: 2rem;
    width: 80%;
    height: 75%;
    
}

aside .close{
    display: none;
}

/* SIDEBAR  */

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}


aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-danger);
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-danger);
}

aside .sidebar a.active span {
    color: var(--color-danger);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-danger);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}


/* Styles for the main container */
.main {
    margin-bottom: auto;
    margin-top: 10%;
    background: var(--color-white);
    width: 100%;
    height: 100%;
    padding: var(--card-padding);
    text-align: center;
    display: inline-block;
    transition: all 300ms ease;

  }
  
  /* Styles for the director container */
  .Dir-img, .Dir-adjoint {
    flex-basis: 50%;
    text-align: center;
  }
  
  /* Styles for the director image */
  .Dir-img img, .Dir-adjoint img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
  }
  
  /* Styles for the team container */
  .team {
    margin: 2rem;
    flex-basis: 50%;
    display: flex;
  }
  
  .team-body{
    margin: 3rem;
  }

  /* Styles for the team name */
  .team-name {
    margin: 0;
    color: #333;
  }
  
  /* Styles for the team position */
  .team-position {
    font-size: 14px;
    color: var(--color-danger);
  }
  
  /* Styles for the social icons */
  .social-icons {
    display: flex;
    justify-content: right;
    margin: 10px;
  }
  
  /* Styles for the social icons */
  .social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
  }
  
  /* Styles for the social icons on hover */
  .social-icons a:hover {
    background-color: var(--color-danger);
  }


/*fin acide */
/*main */

/*fin main */


/*
main{
    
    margin-bottom: auto;
    margin-top: 10%;
    background: var(--color-white);
    width: 100%;
    height: 80%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    display: inline-block;
    transition: all 300ms ease;
}
main:hover{
    box-shadow: none;
}
main div.infos_personnel div.photo{
    width: 70px;
    height: 90;
    display: flex;
    justify-content: center;
    padding-top: 25%;
    transition: all 300ms ease;
}
main div.infos_personnel div.photo:hover{
    box-shadow: none;
}
main div.infos_personnel img{
    width: 70px;
    height: 70px;
    
   
}
main  div.profile_body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
main div.profile_body div.infos_personnel{
    width: auto;
}
main div.profile_body div.infos_compte{
    width: 50%;
    height: auto;
    display: inline-block;
    background-color:var(--color-background);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main div.profile_body div.infos_compte:hover{
    box-shadow: none;
}
main div.title h4{
    font-size: large;
    text-align: left;
}
.hr{
    border: 2px solid var(--color-danger) ;
    border-radius: 0.5px;
    width: 100px;
}
main div ul{
    padding-top: 15px;
    display: grid;
    grid-template-columns:  auto auto;
}
main div.banque_infos{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}
main div.compte_banqaire{
    background-color: var(--color-danger);
    opacity: 0.7;
    padding-top: 4px;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    font-size: x-large;
    display: inline-block;
}
main div.infos_compte div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
main div.main-container{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

/*right */
.right{
    width: 5%;
}
/*fin right */



